In [1]:
# 1. 특정 문자 제거하기

def solution(my_string, letter):
    answer = ""
    for i in my_string:
        if i != letter:
            answer += i
    return answer


# 2. 각도기
def solution(angle):
    if angle == 180:
        answer = 4
    elif angle > 90:
        answer = 3
    elif angle == 90:
        answer = 2
    elif angle > 0:
        answer = 1
    else:
        answer = None
    return answer


# 3. 양꼬치
def solution_new(n, k):
    yang = n * 12000
    service = n // 10
    drink = (k - service) * 2000
    answer = yang + drink
    return answer



# 4. 짝수의 합
def solution(n):
    answer = sum(i for i in range(2, n+1, 2))
    return answer

In [18]:
#머쓱이네 양꼬치 가게는 10인분을 먹으면 음료수 하나를 서비스로 줍니다.
#양꼬치는 1인분에 12,000원, 음료수는 2,000원입니다. 
#정수 n과 k가 매개변수로 주어졌을 때, 
#양꼬치 n인분과 음료수 k개를 먹었다면 총얼마를 지불해야 하는지 return


# 1. 양꼬치를 10인분 안먹었다면,
#     1. 양꼬치만큼 12000원 곱하고, 음료수만큼 2000원 곱해서 더한 것을 리턴
# 2. 양꼬치를 10인분 이상 먹었다면,
#     1. 양꼬치만큼 12000원 곱하고, 음료수-1 만큼 2000원 곱해서 더한 것을 리턴
#         1. 양꼬치 10~19인분 먹으면 음료수 1개 공짜라서 2000*1 빼주기
#         2. 양꼬치 20~29인분 먹으면 음료수 2개 공짜라서 2000*2 빼주기
    
    
def solution(n, k):
    yang = n * 12000
    if n >= 10:
        service = n // 10
        answer = yang + ((k-service)*2000)
    else:
        answer = yang + (k*2000)
    return answer

In [19]:
solution(10, 2)

122000

In [20]:
def solution1(n, k):
    price = n * 12000
    if n >= 10:
        discount = (n // 10) * 2000  # 10단위마다 2000원 할인
        k -= n // 10  # 할인 적용 회수만큼 k 값을 감소
        price += k * 2000  # 할인 제외 금액 계산
        price -= discount  # 할인 적용 금액 계산
    else:
        price += k * 2000
    return price

In [21]:
solution1(10, 2)

120000

In [22]:
def solution2(n, k):
    price = n * 12000
    if n >= 10:
        service = n // 10
        price += (k - service) * 2000  # k 값에 따라 바뀌는 금액 부분
        price -= service * 2000  # 할인 적용 금액 계산
    else:
        price += k * 2000
    return price

In [23]:
solution2(10, 2)

120000

In [24]:
def solution3(n, k):
    price = n * 12000
    if n >= 10:
        service = n // 10
        if k > service:
            price += (k - service) * 2000
    else:
        price += k * 2000
    return price

In [26]:
solution3(10, 2)

122000

In [27]:
def solution_new(n, k):
    yang = n * 12000
    service = n // 10
    drink = (k - service) * 2000
    answer = yang + drink
    return answer

In [28]:
solution_new(10, 2)

122000

In [46]:
# 정수 n이 주어질 때, n이하의 짝수를 모두 더한 값을 return 하도록 solution 함수를 작성해주세요.

# 1. n이 짝수야
#     1. n이 0이 될 때까지 2씩 뺀 값을 더한다.
# 2. n이 홀수야


n = 5  # n까지의 범위를 정의
for i in range(2, n + 1, 2):
    print(i)

2
4

In [45]:
n = 5
sigma = sum(i for i in range(2, n+1, 2))
sigma

6

In [48]:
def solution(n):
    answer = sum(i for i in range(2, n+1, 2))
    return answer

In [49]:
solution(5)

6