## 1. 기본 세팅

In [12]:
import requests
import bs4

page_no = 1
page_url = f"https://finance.naver.com/sise/sise_index_day.naver?code=KPI200&page={page_no}"
page_url

source = requests.get(page_url).text
source = bs4.BeautifulSoup(source)

last_url = source.find_all("td", class_="pgRR")[0].find_all("a")[0]["href"]

last_page = last_url.split('&page=')[-1]
last_page = int(last_page)

## 2. 페이지 돌면서 날짜, 가격 정보 리스트 만들기

In [18]:
date_list = []
price_list = []


for page_no in range(1, last_page+1):

    dates = source.find_all("td", class_="date")
    for date in dates:
        date_list.append(date.text)
    
    prices = source.find_all("td", class_="number_1")
    for price in prices[::4]:
        price_list.append(price.text)

In [19]:
len(date_list)

4308

In [20]:
len(price_list)

4308

## 3. 날짜, 가격 리스트를 데이터프레임으로 만들기

In [16]:
import pandas as pd

df = pd.DataFrame({"date" : date_list,
                  "price" : price_list}).dropna()
df

            date   price
0     2023.06.02  342.05
1     2023.06.01  338.08
2     2023.05.31  339.12
3     2023.05.30  341.50
4     2023.05.26  337.11
...          ...     ...
4303  2023.06.01  338.08
4304  2023.05.31  339.12
4305  2023.05.30  341.50
4306  2023.05.26  337.11
4307  2023.05.25  335.35

[4308 rows x 2 columns]

## 4. 엑셀로 저장하기

In [17]:
df.to_excel("kpi200.xlsx", index=False)